{%- if settings.cart_type == 'drawer' -%}
<div id="CartDrawer" class="drawer drawer--right">
  <form id="CartDrawerForm" action="{{ routes.cart_url }}" method="post" novalidate class="drawer__contents">
    <div class="drawer__fixed-header">
      <div class="drawer__header appear-animation appear-delay-1">
        <div class="h2 drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close">
          <button type="button" class="drawer__close-button js-drawer-close">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
            <span class="icon__fallback-text">{{ 'cart.general.close_cart' | t }}</span>
          </button>
        </div>
      </div>
    </div>

    <div class="drawer__inner">
                    <img style="padding: 0px !important;"  class="appear-animation appear-delay-1 img-checkout lazyload" style="padding: 0px 60px;"
           data-src="https://cdn.shopify.com/s/files/1/0417/0406/3138/files/toussaint2021-cart.jpg?v=1635279099">

      <!--TIMER BEGIN-->
      <div class="appear-animation appear-delay-1" align="center" style="background-color: #f8f8f8;
                                                                         padding: 7px;">
        <center style="font-size: 14px; color: #000000;font-weight: bold;">
          Votre panier est réservé<br>pendant
          <script src="{{ 'timer.js' | asset_url }}">
            </font>
          </script>
          minutes !
        </center>

      </div>
      <!--TIMER END-->
      <div class="drawer__scrollable">
        <div data-products class="appear-animation appear-delay-2"></div>

        {% if settings.cart_notes_enable %}
        <div class="appear-animation appear-delay-3">
          <label for="CartNoteDrawer">{{ 'cart.general.note' | t }}</label>
          <textarea name="note" class="input-full cart-notes" id="CartNoteDrawer">{{ cart.note }}</textarea>
        </div>
        {% endif %}
      </div>

      <div class="drawer__footer appear-animation appear-delay-4">
        <div data-discounts>
          {% if cart.cart_level_discount_applications != blank %}
          <div class="cart__discounts cart__item-sub cart__item-row">
            <div>{{ 'cart.general.discounts' | t }}</div>
            <div class="text-right">
              {% for cart_discount in cart.cart_level_discount_applications %}
              <div class="cart__discount">
                {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>

        <div class="cart__item-sub cart__item-row">
          <div class="ajaxcart__subtotal">{{ 'cart.general.subtotal' | t }}</div>
          <div data-subtotal>{{ cart.total_price | money }}</div>
        </div>
        <img src="{{ 'alma_logo.svg' | asset_url }}" style="height: 24px; vertical-align: middle; margin-right: 5px"/>
        {% if cart.total_price >= 150 %}
        <strong>3x Paiements de {{almaPrice}}/mois</strong>
        {% else %}
        <strong>Payez en 3 fois sans frais à partir de 150€</strong>
        {% endif %}
        
<!--         FreeShipping Text BEGIN -->
        <center><p style="color:#279c27;font-size: 14px;
          font-weight: bold;" class="ajaxcart__note">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          {% if cart.total_price >= 5000 %}
          Livraison Gratuite
          {% else %}
          Livraison en 24/48H
        {% endif %}
          </p></center>
<!--         FreeShipping Text END -->
        
<!--         <div class="cart__item-row text-center">
          <small>
            {{ 'cart.general.shipping_at_checkout' | t }}<br />
          </small>
        </div> -->

        {% if settings.cart_terms_conditions_enable %}
        <div class="cart__item-row cart__terms">
          <input type="checkbox" id="CartTermsDrawer" class="cart__terms-checkbox">
          <label for="CartTermsDrawer">
            {% if settings.cart_terms_conditions_link != blank %}
            {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_link }}
            {% else %}
            {{ 'cart.general.terms' | t }}
            {% endif %}
          </label>
        </div>
        {% endif %}

        <div class="cart__checkout-wrapper">
          <button type="submit" name="checkout" data-terms-required="{{ settings.cart_terms_conditions_enable }}" class="btn cart__checkout">
            {{ 'cart.general.checkout' | t }}
          </button>
          <!-- DEBUT Paiements Sécurisés -->
          <div align="center">
            <center style="font-size: 16px; color: #8c8c8c;padding-top: 10px;">
              30 jours satisfait ou remboursé
            </center>
            <div oncontextmenu="return false;" class="text-center">
              <div style="display: none;"
                   class="checkout_icon_title">
                <span style="padding: 0px 10px;
                             background: white;
                             position: relative;
                             color: black;">
                </span>
              </div>
              <img  class="img-checkout" style="padding: 0px 60px;" src="https://cdn.shopify.com/s/files/1/0417/0406/3138/files/new-secure-badge.svg?v=1597654458">
            </div>
          </div>
          <!-- END Paiements Sécurisés -->
          {% if additional_checkout_buttons and settings.cart_additional_buttons %}
          <div class="additional-checkout-buttons additional-checkout-buttons--vertical">{{ content_for_additional_checkout_buttons }}</div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="drawer__cart-empty appear-animation appear-delay-2">
      <div class="drawer__scrollable">
        {{ 'cart.general.empty' | t }}
      </div>
    </div>
  </form>
</div>
{%- endif -%}
